name: Build Switch Homebrew

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]

jobs:
  build:
    runs-on: ubuntu-latest
    container: devkitpro/devkita64:latest
    steps:
    - uses: actions/checkout@v4
      
    - name: Download stb_image header (JPEG decoder, no pacman needed)
      run: curl -fsSL https://raw.githubusercontent.com/nothings/stb/master/stb_image.h -o include/stb_image.h
      
    - name: Build
      run: make
      
    - name: Upload NRO
      uses: actions/upload-artifact@v4
      with:
        name: LightBrowser-nro
        path: LightBrowser.nro
