name: Build Switch Homebrew

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]

jobs:
  build:
    runs-on: ubuntu-latest
    container: devkitpro/devkita64:latest
    steps:
    - uses: actions/checkout@v4
    
    - name: Install dependencies
      run: |
        dkp-pacman -Syu --noconfirm switch-sdl2
      
    - name: Build
      run: make
      
    - name: Upload NRO
      uses: actions/upload-artifact@v4
      with:
        name: LightBrowser-nro
        path: LightBrowser.nro
